.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-create {
  width: 450px;
  /* margin: 50px 0 20px 0; */
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0px;
}

.task-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.task-button {
  border: 1px solid green;
  margin: 10px 0px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.task-show {
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-title {
  margin-bottom: 5px;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-delete {
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.task-edit {
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
}
.task-update {
  width: 100%;
}
.update-button {
  background-color: blueviolet;
}

/*-----------------------------------------*/
.music-controller {
  position: fixed;
  top: 20px; /* Sağ üst köşe */
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  font-family: sans-serif;
  z-index: 999;
  width: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.music-controller strong {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.music-controller .controls {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.music-controller button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.music-controller button:hover {
  transform: scale(1.2);
}
